.container {
  background: #dde4e6 0% 0% no-repeat padding-box;
  border-radius: 4px;
  margin-left: 109px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #27737d 0% 0% no-repeat padding-box;
  border-radius: 30px;
  height: 78%;
  width: 56%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
}