.header {
    margin-top: calc(var(--space-xl) * 1.5);
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 768px) {
      margin-top: var(--space-lg);
    }
  }
  
  .city {
    font: var(--font-normal) 1.625rem/1.625rem var(--font-family);
    color: var(--color-blue-gray);
  }
  
  .country {
    font: var(--font-light) 1.375rem/1.375rem var(--font-family);
    color: var(--color-light-blue);
  }
  
  .timeAndDate {
    margin-top: var(--space-sm);
    font: var(--font-light) 1.125rem/1.375rem var(--font-family);
    color: var(--color-light-blue);
  }