.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 3.063rem;

    @media (max-width: 1190px) {
        padding-left: 0;
    }
}

.prompt {
    margin-top: 35%;
    margin-right: 10rem;
    max-width: 18.75rem;
    font: var(--font-light) 1.875rem/2.75rem var(--font-family);
    color: var(--color-light-gray);

    @media (max-width: 1190px) {
        margin-right: 0;
        margin-top: 18%;
    }
}
.title {
    margin-top: 3.125rem;
    margin-left: 0.75rem;
    font: var(--font-light) 1rem/1.375rem var(--font-family);
    color: var(--color-light-gray);
}

.inputContainer {
    position: relative;
    margin-top: 7px;
}

.searchButton {
    position: absolute;
    right: 0.875rem;
    top: 50%;
    transform: translateY(-50%);
    background: var(--color-green) 0% 0% no-repeat padding-box;
    color: var(--color-white);
    border: none;
    border-radius: 0.625rem;
    cursor: pointer;
    font: var(--font-light) 1.125rem/1.688rem var(--font-family);
    height: 2.25rem;
    width: 5.938rem;
}

.searchButton:hover {
    opacity: 0.8;
}

.input {
    background: var(--color-white) 0% 0% no-repeat padding-box;
    border-radius: 0.625rem;
    border: 0px;
    height: 3.938rem;
    width: 100%;
    font-size: larger;
    padding-left: 0.75rem;
}
.footer {
    margin-top: auto;
    font: var(--font-light) 0.875rem/1.375rem var(--font-family);
    color: var(--color-light-gray);
}
